/*========================================  STEP ONE  ==================================================*/
.photobooth_page {
  height: 1725px;
  min-height: auto;
  overflow: hidden;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 35%;
  transform: translateY(-50%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
  z-index: 4;
  font-weight: bold;
}

.flash {
  display: none;
  height: 1920px;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  transition: background-color 1s;
  z-index: 10000000;
}

.flash.active img {
    margin-top: -1200px;
    -webkit-animation: flash 2.5s linear;
}

@-webkit-keyframes flash{
	0% {  margin-top: -1200px; transform: scale(1); opacity: 0;}
	50% { opacity: .6; }
	100% { margin-top: 500px; opacity: 0; transform: scale(1.3);}
}

.step_one, .step_two {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#take_pic {
  z-index: 1;
  position: absolute;
  bottom: 300px;
}

.button {
  color: white;
  background-color: #e4001a;
  padding: 31px 50px;
  border-radius: 52px;
  font-size: 39px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}

.button p{
	position: relative;
	margin: 0;
}

.share, .retake, .send {
	height: auto !important;
	min-height: auto;
	flex-direction: column;
}

.img_card img {
    height: 76px;
    margin-top: 50px;
    margin-bottom: -20px;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center -193px;
  background-size: cover;
}

.flash {
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: white;
  display: none;
}

#filter {
  position: absolute;
  z-index: -50;
}

/*========================================  STEP TWO  ==================================================*/
.step_two {
	display: none;
}

.photo img, .gif_show img {
  width: 1080px;
}

.photo {
  width: 100%;
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: 0;
  margin-bottom: 43px;
}

.canvas-container {
	width: 1000px !important;
	height: 749px !important;
  left: 50% !important;
  top: 270px !important;
  transform: translateX(-50%) !important;
  position: absolute !important;
  z-index: 4;
}

/*.upper-canvas, .lower-canvas {*/
/*  left: 0 !important;
  transform: none !important;
  top: 0 !important;*/
/*  width: 100% !important;
  height: 100% !important;*/
/*}*/

.props {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 40px;
}

.props img {
  height: 97px;
  padding: 0 30px;
  border-right: 1px solid #eaeaea;
  margin-right: 30px;
  margin-top: 71px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.btns .button {
  margin: 0 50px;
}

.button.white_button {
  background-color: white;
  color: #e4001a;
}


/*========================================  STEP THREE  ==================================================*/
.step_three {
	display: none;
  margin-top: 100px;
  width: 100%;
  transition: margin .5s;
}

.step_three .card {
	padding: 60px;
	width: auto;
  padding-top: 200px;
}

#submit_form {
	width: 100%;
}

#submit_form input.input {
  font-size: 40px;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 0;
  width: 91%;
  padding-bottom: 15px;
  margin-top: 60px;
  outline: none;
  padding: 30px 40px;
}

#submit_form input.input::placeholder {
  color: black;
  opacity: .5;
}

#add_email, #add_phone {
  color: #e4001a;
  font-size: 31px;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 120px;
}

.first_phone {
	margin-top: -50px !important;
}

div.jQKeyboardContainer {
	top: 231px !important;
	background-color: white !important;
}

.fa-close {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 56px !important;
  color: #000000;
  cursor: pointer;
  z-index: 110;
  /* background: white; */
  padding: 10px 15px;
  z-index: 100101;
}

.fa-close.sharex {
  display: none ;
}

#share_alert {
  background-color: black;
  display: none;
  position: fixed;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 10000000;
}

#share_alert p {
  font-size: 38px;
  letter-spacing: 3px;
}

#share_alert h3, #donation_alert h3 {
  font-size: 100px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#share_alert p, #donation_alert p {
  color: white;
  margin-top: 26px;
  font-size: 36px;
}

/*========================================  PHOTOBOOTH_page CSS  ==================================================*/
.photobooth_page .share_overlay p {
  margin-top: -20px;
  background: rgba(255, 255, 255, .9);
  color: #00000085 !important;
  display: inline-block;
  padding: 10px 30px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Knockout 71 Full Middlewt', 'Arial';
}


.reverse {
  background-color: #E9D66B;
  color: white;
}

.gif_info {
  display: none;
  color: #00000085;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 0px;
  font-weight: bold;
  font-size: 70px !important;
}

.next {
  display: none;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px;
  z-index: 3;
  font-weight: bold;
}

.share_overlay input.input {
  display: inline-block;
  width: 83%;
  padding: 35px 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: transform .5s;
  height: auto !important;
  font-weight: bold;
}

.line {
  height: 1px;
  width: 100%;
  background: white;
  margin: 68px 0;
}

.share_overlay input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

.share_overlay input.input:focus {
  transform: translateY(-5px);
  border-color: white !important;
}

.share_overlay {
  display: none;
  background-color: rgba(0,0,0,0.9);
  height: 1920px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 11;
  overflow-y: auto;
}

.share_overlay input.input {
  display: block;
  font-size: 44px !important;
  background: white;
  color: black;
}

.share_overlay input.input::placeholder {
  color: black;
  opacity: .5;
}



#done {
  position: absolute;
  right: 133px;
  top: 620px;
}



/* ================  HOME  =================*/
.home_photobooth {
  overflow: hidden;
}

.home_page, .product_page {
  height: 100vh;
  width: 1080px;
  overflow-x: hidden;
  position: absolute !important;
  left: 0;
}

.home_page {
  overflow: hidden;
}
.home_highlights .home_page,
.home_sessions .home_page {
    overflow: scroll;
}



.inner_page_hero .overlay {
  background-color: #348eca66;
  height: 100%;
  position: absolute;
  width: 100%;
}

.inner_page_hero .overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 49px;
}




canvas img {
  margin: auto;
}

.photos {
  /*background-size: cover;*/
  /*background-image: url('https://image.freepik.com/free-vector/winter-silver-background-with-snowflakes_1048-85.jpg');*/

  height: 1920px;
  margin-bottom: 10px;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

.photobooth_page .photos {
  display: flex;
  position: relative;
  z-index: 2;
}

.holiday {
  width: 83%;
  position: absolute;
  top: 506px;
  height: auto !important;
}

#photos {
  transition: opacity 1s, height .5s;
}

.photos img {
  padding: 45px 50px;
  height: 100px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}


#choose_picture {
  left: 345px;
  width: 280px;
}

#choose_gif {
  right: 120px;
  width: 280px;
  text-align: center;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: center -165px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
  /*top: 230px;*/
    position: relative;
}

.event_pics {
  height: 130px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #45b848 !important;
  z-index: 5;
}

.event_pic {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
  height: 600px !important;
}

.event_pics img {
  height: 55px;
}

.event_pics .overlay .bubble:before {
  content: '';
  background-color: #45b848;
  border-radius: 100%;
  height: 156px;
  width: 180px;
  position: absolute;
  z-index: -1;
  top: -80px;
}

.event_pics p {
  margin-top: 25px;
  font-size: 27px;
  letter-spacing: 3px;
  /*font-family: 'proxima_novabold';*/
}

.event_pics .overlay .bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -66px;
  width: 350px;
}


.display_gifs .event_pic {
  height: 640px;
}

.overlay {
  background-color: #45b848;
  width: 100%; height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: background-color .3s;*/
}




/* ================  PHOTOS  =================*/
.camera_button {
  /*display: none;*/
  position: absolute;
  top: 285px;
  z-index: 3;
}

#snap_photo {
  left: 305px;
  display: none !important;
}


.cam_holder .fa-camera {
   -webkit-animation: resize 3s infinite ease-in-out;
   z-index: 3;
}

.cam_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.title_holder.bottom {
  bottom: 0;
  position: absolute;
 width: 100%; 
  position: fixed;
  z-index: 5;
}

@-webkit-keyframes resize {
  40%, 60%  { -webkit-transform: scale(1); }
    
  50% { -webkit-transform: scale(1.2); }
}


.pic_text, .gif_text {
  /*display: none;*/
  position: absolute;
  top: 175px;
  font-size: 43px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.pic_text {
  color: #c9ac5e !important;
  font-size: 61px !important;
  top: 11px;
  position: fixed;
  top: 379px;
}

#video, #pictures, #pictures .canvas_holder {
  display: none;
  z-index: 2;
}

.photobooth_page #video {
  display: none;
  width: 100%;
  position: relative;
  width: 1080px;
  top: 135px;
  height: auto;
}

.draw_ctl {
  display: none;
  position: absolute;
  z-index: 2;
  top: 229px;
  left: 45%;
  padding: 20px;
}



#pen {
  display: none;
  width: 100px;
  width: 85px;
  position: absolute;
  z-index:2;
  padding: 20px;
  left: 45%;
  top: 100px;
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}


#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
    transition: background-color .2s;
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#drawn {
    position: absolute;
    left: 90px;
    top: 360px;
}

.gif_container .canvas_holder {
  width: 392px;
  margin: 28px 32px;
}

.gif_container .canvas_holder img {
  width: 392px;
}

.canvas_holder img {
  box-shadow: 0px 0px 15px #00000070;
}

.gif {
  transition: outline 1s;

}



#draw {
  display: none;
  position: absolute;
  left: 91px;
  margin-top: -105px;
}
/*
#pictures img:last-child {
  position: absolute;
  left: 91px;
  width: 900px;
  height: 675px;
}*/

#pic, .filters {
  position: absolute;
  z-index: -2;
}

.home_page {
  background: white;
}

#pictures .gif_container img:last-child {
  position: relative;
  left: auto;
}

.gif_show img {
  height: 675px;
  width: 900px;
  position: relative;
  top: -169px;
  z-index: 2;
}

.gif_show .submit {
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  right: auto;
}
/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/

.colors {
  display: none;
  position: absolute;
  z-index: 4;
  top: 256px;
}

.color {
  width: 92px;
  height: 106px;
}

.sizes {
  position: absolute;
  display: none;
  top: 256px;
  right: 0;
  z-index: 4;
}

.size {
  border-radius: 100%;
  margin: 31px;
  margin-bottom: 95px;
  background-color: white;
  transition: scale .2s;
}

#small {
  width: 20px; height: 20px;
}

#medium {
  width: 25px; height: 25px;
}

#large {
  width: 30px; height: 30px;
}

#huge {
  width: 35px; height: 35px;
}

.size:active {
  transform: scale(1.2);
}


#colorRed {
  background-color: #c22628;
}

#colorGreen {
  background-color: #49a463;
}
#colorBlue {
  background-color: #30b9dc;
}
#colorWhite {
  background-color: #fff;
}
#colorBlack {
  background-color: #000;
}

.print {
  display: none;
  position: absolute;
  bottom: 0;
  left: 36%;
  transform: translateX(-50%);
  z-index: 1;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1720px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  /*background-size: cover;
  background-image: url('../assets/img/christmas_dark.png');*/
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
    position: absolute;
    top: 24%;
    width: 59%;
    max-width: 865px;
    height: auto;
    padding: 200px 60px;
    text-align: center;
    z-index: 1;
    background: rgba(255, 255, 255, .9);
}

@-webkit-keyframes spin {
  0%  { -webkit-transform: rotate(0deg); }
    
  100% { -webkit-transform: rotate(360deg); }
}


.shrunk {
  transform: scale(.8);
  position: fixed;
  top: 230px;
  left: 4px;
  /*font-size: 40px;*/
}

.up {
    transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i {
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 12px;
  position: fixed;
  z-index: 101000;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 82px;
  padding: 20px;
}

.filters_holder {
  position: absolute;
  top: 0;
  z-index: 5;
  background: white;
  width: 0;
  height: 100%;
  right: 0;
  transition: width .3s;
}

.filters_holder div {
  padding-left: 100px;
  padding-top: 150px;
  display: none;
}

.filters_holder h2 {
  color: #2e3445;
  font-size: 64px;
  margin-bottom: 112px;
  transition: color .3s;
}

.filters_holder p {
  font-size: 90px;
  color: #2e3446;
  font-weight: normal;
  line-height: 1;
  padding-bottom: 50px;
  border-bottom: 13px solid #007c54;
  margin-right: 124px;
  margin-bottom: 163px;
  font-family: 'estrangelo_edessaregular';
}

.filters_holder .fa-close {
  top: 185px;
  padding: 50px;
}

.filters_holder img {
  margin-bottom: 100px;
}

.filters_holder h2.filter_active {
  color: #c8ab63;
}

.off_click {
  display: none;
  background: #0000008c;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  z-index: 5;
}

.filter_btn {
  position: absolute;
  bottom: 281px;
  border: 3px solid #c9ac5e;
  background: #c9ac5e;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Knockout 71 Full Middlewt', 'Arial';
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.pic_choices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 835px;
    margin: auto;
}

.pic_choices.bottom_row {
  position: absolute;
  bottom: 174px;
  z-index: 10;
}


.pic_choices .fa-camera {
    font-size: 59px;
    position: relative;
    z-index: 2;
}

.pic_choices > div {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.pic_choices > div.gold {
  background-color: rgba(255, 255, 255, .9);
}

.pic_choices .dark {
    background-color: rgba(255, 255, 255, .9);
}

.pic_choices p {
  font-weight: 900;
  margin: 0;
  margin-top: 20px;
  font-size: 45px;
  font-family: 'estrangelo_edessaregular';
}

.filter_btn  {
  background: rgba(0, 124, 84, .9) !important;
}

.the_filters {
  position: absolute;
  left: 91px;
  width: 900px;
  height: 675px;
  top: 195px;
  overflow: hidden;
  overflow-x: auto;
}

.the_filters img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 5;
}

.the_filters i {
  background: rgba(255, 255, 255, .9);
  padding: 30px 33px;
  font-size: 65px;
  color: #00000085;
  position: fixed;
  top: 694px;
}

.fa-caret-left {
  left: 0;
}

.fa-caret-right {
  right: 0;
}

#pictures .the_filters img:last-child {
  position: relative;
  left: auto;
  width: 100%;
  height: auto;
}
